/* Media Queries */

@media (max-width: 900px) {
  
  :root {
    --panel-padding-desktop: 4rem 1.5rem 6rem 1.5rem;
  }

  .panel {
    min-height: auto;
    justify-content: flex-start;
  }

  .grid-2-col {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  h1, h2, h3, p {
    text-align: left !important;
    max-width: 100% !important;
  }

  .h1-title {
    text-align: center !important;
  }

  /* Navigation */
  .navbar {
    padding: 5px;
  }
  
  .nav-grid {
    gap: 15px;
    overflow-x: auto;
    justify-content: flex-start;
    padding: 0 10px;
  }
  
  .nav-item {
    min-width: 1rem;
    height: 1rem;
  }

  .visualisation-container svg {
    height: auto;
    width: 100%;
  }
  
  .tableauPlaceholder {
    width: 100% !important;
    height: 500px !important;
  }

  /* Intro */
  .intro-layout {
    flex-direction: column-reverse;
  }
  
  /* Currently Open */
  .currently-open-layout {
    flex-direction: column;
  }

  /* Cuisine Breakdown */
  .cuisine-inline,
  .cuisine-row-2 {
    flex-direction: column;
    align-items: flex-start;
  }

  /* Cafes */
  .cafes-inline {
    flex-direction: column;
  }

  /* Average Lifespan */
  .lifespan-layout {
    flex-direction: column-reverse;
  }

  /* Overlaps */
  .overlap-inline {
    flex-direction: column;
  }

  /* Asian Population */
  .gap-inline {
    flex-direction: column;
  }

  /* Economics */
  #economics .economics-panel, .econ2-panel, .cb-panel, .siu-panel, .conclusion-panel {
    flex-direction: column;
    padding: 2rem 1.5rem;
    height: auto;
  }
  
  .econ-top-row, .cb-top-row, .siu-bottom-row, .conclusion-bottom-row {
     flex-direction: column;
  }
}