* {
  box-sizing: border-box;
  padding: 0.2rem;
  /* border:1px solid rgb(255, 0, 0); */
}

#visualisations-container {
  font-family: "Inter", sans-serif;
  fill: #086af2;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 100vw;
  max-height: 100vh;
}

h1 {
  font-size: 2rem;
}