html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", sans-serif;;
}

.container {
  max-height: 100vh;
	overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.panel {
  scroll-snap-align: start;
  height: 100vh;
  flex-direction: column;
  gap: 1;
  padding: 2rem; 
}

#visualisation-container{
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

/* Navigation */

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1rem;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}

/* End of Navigation */

#home {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}